section {
  background-color: var(--foreground-dark);
  grid-area: content;
  display: flex;
  flex-direction: column;
}

article {
  display: flex;
  flex-direction: column;
  padding: 1em;
  width: auto;
}
code,
.code {
  padding: 1em;
  margin: 0.5em;
  border-radius: 0.5em;
  background-color: var(--foreground2-dark);
  color: var(--secondary-dark);
  font-size: 0.75rem;
  text-decoration: wavy;
  width: auto;
}

li {
  margin: 1em 0;
  list-style-type: circle;
}

h2 {
  text-transform: uppercase;
  color: var(--secondary);
  letter-spacing: 5px;
}

p {
  padding: 0.5em;
}

#react-link {
  padding: 0;
  color: var(--react);
}
#yarn-link {
  padding: 0;
  color: var(--yarn);
}
#npm-link {
  padding: 0;
  color: var(--npm);
}
#react-link:hover,
#yarn-link:hover,
#npm-link:hover {
  background: transparent;
}
#react-link::after,
#yarn-link::after,
#npm-link::after {
  content: ' ';
}

#yarn-link::before,
#npm-link::before {
  content: ' ';
}
