header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-area: header;
  background-color: var(--foreground-dark);
}
h1 {
  color: var(--primary-dark);
}
#source-code {
  margin: 0 1rem 0 0;
}
